# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
x1 = 123
x2 = 123
print(x1 == x2, id(x1) == id(x2))

True True

Ці 2 змінні рівні за значенням і посилаються на один об'єкт у пам'яті, оскільки в Python цілі числа в межах від -5 до 256 використовують кеш для оптимізації.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [4]:
print(isinstance(True, bool), isinstance(True, int))

True True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [16]:
x1 = 3
x2 = 12.6
print('addition:', x1 + x2)
print('subtraction:', x1 - x2)
print('division:', x1 / x2)
print('multiplication:', x1 * x2)
print('division without remainder:', x1 // x2)
print('modular division:', x1 % x2)
print('exponentiation:', x1 ** x2)

addition: 15.6
subtraction: -9.6
division: 0.2380952380952381
multiplication: 37.8
division without remainder: 0.0
modular division: 3.0
exponentiation: 1027372.1991405805

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [17]:
x3 = True
print("int to float:",float(x1))
print("float to int:",int(x2))
print("bool to int:", int(x3))

int to float: 3.0
float to int: 12
bool to int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [27]:
s1 = ''
s2 = str()
print(s1)
print(s2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [28]:
st1 = "'"
st2 = r"'"
st3 = '\''
st4 = r'\''
print(st1)
print(st2)
print(st3)
print(st4)

'
'
'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [29]:
surname = 'Shvets'
form_str = f"My surname is {surname}"
print(form_str)

My surname is Shvets

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [34]:
str_dog = "My dog is crazy."
word_list = [word.strip('.') for word in str_dog.lower().split()]  # using strip for deleting '.'
print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [36]:
list1 = [1,2,3,4,5]
list2 = list(range(1,6))
print("list1:", list1)
print("list2:", list2)
print("Length of list1:", len(list1))

list1: [1, 2, 3, 4, 5]
list2: [1, 2, 3, 4, 5]
Length of list1: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [37]:
list3 = [1,2,3,4,5]
list4 = ['one', 'two']
list3.append(list4)
print(list3)

[1, 2, 3, 4, 5, ['one', 'two']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [39]:
list_list = [[1,2],[3,4,5],[6,7,8,9]]
print("First element of last list is:", list_list[-1][0])

First element of last list is: 6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [41]:
original_list = [1, 'two', 3.0, 4, 'five', [6, 7], True, 'eight', 9, 10]
new_list = original_list[2:-2]
print("original_list:", original_list)
print("new_list:", new_list)

original_list: [1, 'two', 3.0, 4, 'five', [6, 7], True, 'eight', 9, 10]
new_list: [3.0, 4, 'five', [6, 7], True, 'eight']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [44]:
tup = (1,)
print(tup)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
- Можливість зберігати об'єкти: обидва типи даних призначені для зберігання колекції об'єктів.
- Індексація: елементи в обох можна звертатися за допомогою індексів, і обидва використовують індексацію з нуля.
- Ітерація: можна ітерувати як по списку, так і по кортежу.

Відмінності:

- Мутабельність: списки є мутабельними, тобто їх можна змінювати. Кортежі є немутабельними, і їхні елементи не можуть бути змінені після того, як кортеж створений.
- Синтаксис: списки огорнуті квадратними дужками [], тоді як кортежі огорнуті круглими дужками () з обов'язковою наявністю принаймні однієї коми.
- Швидкість: зазвичай кортежі працюють трошки швидше ніж списки, оскільки вони незмінні.

Випадки використання:

Списки використовуються, коли:
- Потрібно виконувати додавання, видалення або зміну елементів.
- Потрібна динамічна структура даних.

Кортежі використовуються, коли:
- Дані повинні залишатися незмінними.
- Потрібна більша ефективність (кортежі можуть бути швидше в деяких випадках).
- Використання в якості ключів словників (оскільки кортежі незмінні, вони можуть бути використані як ключі словників).

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [46]:
tup1 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.1, 11.11)
tup2 = tup1[::-2]
print(tup2)

(11.11, 9.9, 7.7, 5.5, 3.3, 1.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [52]:
set1 = set()
set1.add(1)
set1.add('dog')
set1.add(3.3)
print(set1)

{3.3, 1, 'dog'}

Так, множини є змінним типом даних, як видно у вправі.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [53]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

У множинах збергіються лише унікальні елементи, тому елементи 1 і 67 не повторюються.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [55]:
set2 = {1, 2, 3, 4, 5}
set3 = {4, 5, 6, 7, 8}
union_set = set2.union(set3)
difference_set = set2.difference(set3)
intersection_set = set2.intersection(set3)
symmetric_difference_set = set2.symmetric_difference(set3)
print("Множина 2:", set2)
print("Множина 3:", set3)
print("Об'єднання множин:", union_set)
print("Різниця множин:", difference_set)
print("Пересічення множин:", intersection_set)
print("Симетрична різниця множин:", symmetric_difference_set)

Множина 2: {1, 2, 3, 4, 5}
Множина 3: {4, 5, 6, 7, 8}
Об'єднання множин: {1, 2, 3, 4, 5, 6, 7, 8}
Різниця множин: {1, 2, 3}
Пересічення множин: {4, 5}
Симетрична різниця множин: {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [56]:
my_dict = {}
my_dict[1] = "One"
my_dict["two"] = 2
my_dict[3.0] = "Three"
my_dict[(4, 5)] = "Tuple"
print("Словник:", my_dict)

Словник: {1: 'One', 'two': 2, 3.0: 'Three', (4, 5): 'Tuple'}

Список не можна використовуватися як ключ для словника, бо він є змінним (mutable) типом даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [59]:
super_dict = {
    'key1': 1,
    'key2': {
        'key3': 3,
        'key4': {
            'key5': 5
        }
    }
}
print("Значення на найбільш внутрішньому рівні:", super_dict['key2']['key4']['key5'])

Значення на найбільш внутрішньому рівні: 5

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.